  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Pet's Media!</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <div class="flexheader">
  
  <h1 id="logo">p<a href="/"><i class="fas fa-paw fa-sm"></i></a>wstagram</h1>
  

  <button id="logo">log in</button>
  </div>