<%- include('header') -%>

  <body class="container">
      <section id="main-content">
            <img src="https://images.pexels.com/photos/46024/pexels-photo-46024.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Pets">
        <div id="action-items">
          <a href="/login"><button>SIGN IN</button></a>
          <a href="/signup"><button>CREATE ACCOUNT</button></a>
        </div>
      </section>
      
  </body>

  <%- include('footer') -%>
