<%- include('header') -%>

<button>Logout</button>
<button>Return to Feed</button>

<h3>Add a post</h3>
<h5>Title</h5>
<input type="text"/>
<h5>Caption</h5>
<input type="text"/>
<h5>Image</h5>
<input type="file"/>


<%- include('footer') -%>