<%- include('header') -%>

<section id="main-signup">
<! -- we need add signup action to the form element -JM -->
  <form class="flex signup">
    <label>Username</label>
    <input type="text"  id="" name=""/>
    <label>Email Address</label>
    <input type="email" id="" name=""/>
    <label>Password</label>
    <input type="password" id="" name=""/>
    <label>Confirm Password</label>
    <input type="password"  id="" name=""/>
    <button type="submit">CREATE ACCOUNT</button>
  </form>
</section>

<%- include('footer') -%>